In [2]:
from pyspark.sql import SparkSession

In [3]:
spark = SparkSession.builder.appName('Basics').getOrCreate()

In [4]:
df = spark.read.json('people.json')

In [5]:
df.show()

+--------------------+----+--------------------+----------+------+---------------+----------+
|     _corrupt_record| age|               email|first_name|gender|     ip_address| last_name|
+--------------------+----+--------------------+----------+------+---------------+----------+
|[{"age":35,"first...|null|                null|      null|  null|           null|      null|
|                null|  31|lpadginton1@syman...|   Lurlene|Female|222.143.240.130| Padginton|
|                null|null|smountlow2@cargoc...|    Sabine|Female| 107.65.185.231|  Mountlow|
|                null|  31|lconningham3@ftc.gov|    Linnie|Female|227.195.142.226|Conningham|
|                null|  35|mtimlett4@hubpage...| Marylynne|Female| 142.232.107.89|   Timlett|
|                null|  27|   pbyrd5@meetup.com|    Paxton|  Male|  129.35.218.77|      Byrd|
|                null|  36| hfrangione6@nps.gov|     Hally|Female|   214.82.70.53| Frangione|
|                null|  27|hshowen7@networks...|Hieronymus|  Male| 251.52.198.117|    Showen|
|                null|  15| dwallsworth8@ft.com|     Danya|Female|  80.113.231.56|Wallsworth|
|                null|  40|dgillebride9@pbs.org|  Doroteya|Female|    194.5.53.96|Gillebride|
|                null|  38|mhalluma@devianta...|      Mile|  Male|  180.35.87.216|    Hallum|
|                null|  32|smurdochb@whiteho...|   Stanton|  Male|     2.75.5.206|   Murdoch|
|                null|  15|jbewshawc@amazon.com|    Justus|  Male|  195.6.125.254|   Bewshaw|
|                null|  33| cwrethamd@lycos.com|      Cati|Female| 41.175.230.224|   Wretham|
|                null|  29|bsaurae@whitehous...|    Bordie|  Male|156.223.196.176|     Saura|
|                null|  17|mmcwhinneyf@multi...|     Morry|  Male|   188.18.18.76| Mcwhinney|
|                null|  31|mshoardg@blinklis...|   Myrlene|Female|  38.167.174.82|    Shoard|
|                null|  28|ccubbinih@bloglin...|      Carl|  Male| 149.74.222.112|   Cubbini|
|                null|  35|aboultwoodi@wooth...|  Annabell|Female| 84.145.108.191| Boultwood|
|                null|  17|    udanej@prweb.com|    Urbain|  Male| 139.48.125.159|      Dane|
+--------------------+----+--------------------+----------+------+---------------+----------+
only showing top 20 rows

In [9]:
df.printSchema()

root
 |-- _corrupt_record: string (nullable = true)
 |-- age: long (nullable = true)
 |-- email: string (nullable = true)
 |-- first_name: string (nullable = true)
 |-- gender: string (nullable = true)
 |-- ip_address: string (nullable = true)
 |-- last_name: string (nullable = true)

In [11]:
df.columns

['_corrupt_record',
 'age',
 'email',
 'first_name',
 'gender',
 'ip_address',
 'last_name']

In [15]:
df.describe().show()

+-------+--------------------+-----------------+--------------------+----------+------+-------------+---------+
|summary|     _corrupt_record|              age|               email|first_name|gender|   ip_address|last_name|
+-------+--------------------+-----------------+--------------------+----------+------+-------------+---------+
|  count|                   1|              936|                 999|       999|   999|          999|      999|
|   mean|                null|27.39957264957265|                null|       NaN|  null|         null|     null|
| stddev|                null|  7.6761008253766|                null|       NaN|  null|         null|     null|
|    min|[{"age":35,"first...|               15|aackroyd8j@tripad...|       Abe|Female| 0.122.189.16|  Aartsen|
|    max|[{"age":35,"first...|               40|zshaldersgt@nsw.g...|    Zorina|  Male|99.81.156.141| de Amaya|
+-------+--------------------+-----------------+--------------------+----------+------+-------------+---------+

In [19]:
from pyspark.sql.types import (StructField, StructType, StringType, IntegerType)

In [25]:
data_schema = [StructField('age', IntegerType(), True), StructField('first_name', StringType(), True)]

In [26]:
final_data_struct = StructType(fields = data_schema)

In [29]:
df = spark.read.json('people.json', schema=final_data_struct)

In [31]:
df.printSchema()

root
 |-- age: integer (nullable = true)
 |-- first_name: string (nullable = true)

In [33]:
df.describe().show()

+-------+-----------------+----------+
|summary|              age|first_name|
+-------+-----------------+----------+
|  count|              936|       999|
|   mean|27.39957264957265|       NaN|
| stddev|  7.6761008253766|       NaN|
|    min|               15|       Abe|
|    max|               40|    Zorina|
+-------+-----------------+----------+

In [35]:
type(df['age'])

pyspark.sql.column.Column

In [38]:
df.select('age').show()

+----+
| age|
+----+
|null|
|  31|
|null|
|  31|
|  35|
|  27|
|  36|
|  27|
|  15|
|  40|
|  38|
|  32|
|  15|
|  33|
|  29|
|  17|
|  31|
|  28|
|  35|
|  17|
+----+
only showing top 20 rows

In [42]:
df.head(3)[0]

Row(age=None, first_name=None)

In [47]:
df.select(['age', 'first_name']).show()

+----+----------+
| age|first_name|
+----+----------+
|null|      null|
|  31|   Lurlene|
|null|    Sabine|
|  31|    Linnie|
|  35| Marylynne|
|  27|    Paxton|
|  36|     Hally|
|  27|Hieronymus|
|  15|     Danya|
|  40|  Doroteya|
|  38|      Mile|
|  32|   Stanton|
|  15|    Justus|
|  33|      Cati|
|  29|    Bordie|
|  17|     Morry|
|  31|   Myrlene|
|  28|      Carl|
|  35|  Annabell|
|  17|    Urbain|
+----+----------+
only showing top 20 rows

In [49]:
df.withColumn('new_age', df['age']).show()

+----+----------+-------+
| age|first_name|new_age|
+----+----------+-------+
|null|      null|   null|
|  31|   Lurlene|     31|
|null|    Sabine|   null|
|  31|    Linnie|     31|
|  35| Marylynne|     35|
|  27|    Paxton|     27|
|  36|     Hally|     36|
|  27|Hieronymus|     27|
|  15|     Danya|     15|
|  40|  Doroteya|     40|
|  38|      Mile|     38|
|  32|   Stanton|     32|
|  15|    Justus|     15|
|  33|      Cati|     33|
|  29|    Bordie|     29|
|  17|     Morry|     17|
|  31|   Myrlene|     31|
|  28|      Carl|     28|
|  35|  Annabell|     35|
|  17|    Urbain|     17|
+----+----------+-------+
only showing top 20 rows

In [55]:
df.withColumnRenamed('age', 'età').show()

+----+----------+
| età|first_name|
+----+----------+
|null|      null|
|  31|   Lurlene|
|null|    Sabine|
|  31|    Linnie|
|  35| Marylynne|
|  27|    Paxton|
|  36|     Hally|
|  27|Hieronymus|
|  15|     Danya|
|  40|  Doroteya|
|  38|      Mile|
|  32|   Stanton|
|  15|    Justus|
|  33|      Cati|
|  29|    Bordie|
|  17|     Morry|
|  31|   Myrlene|
|  28|      Carl|
|  35|  Annabell|
|  17|    Urbain|
+----+----------+
only showing top 20 rows

In [57]:
df.show()

+----+----------+
| age|first_name|
+----+----------+
|null|      null|
|  31|   Lurlene|
|null|    Sabine|
|  31|    Linnie|
|  35| Marylynne|
|  27|    Paxton|
|  36|     Hally|
|  27|Hieronymus|
|  15|     Danya|
|  40|  Doroteya|
|  38|      Mile|
|  32|   Stanton|
|  15|    Justus|
|  33|      Cati|
|  29|    Bordie|
|  17|     Morry|
|  31|   Myrlene|
|  28|      Carl|
|  35|  Annabell|
|  17|    Urbain|
+----+----------+
only showing top 20 rows

In [61]:
df.withColumn('ten_years_ago', df['age'] - 10).show()

+----+----------+-------------+
| age|first_name|ten_years_ago|
+----+----------+-------------+
|null|      null|         null|
|  31|   Lurlene|           21|
|null|    Sabine|         null|
|  31|    Linnie|           21|
|  35| Marylynne|           25|
|  27|    Paxton|           17|
|  36|     Hally|           26|
|  27|Hieronymus|           17|
|  15|     Danya|            5|
|  40|  Doroteya|           30|
|  38|      Mile|           28|
|  32|   Stanton|           22|
|  15|    Justus|            5|
|  33|      Cati|           23|
|  29|    Bordie|           19|
|  17|     Morry|            7|
|  31|   Myrlene|           21|
|  28|      Carl|           18|
|  35|  Annabell|           25|
|  17|    Urbain|            7|
+----+----------+-------------+
only showing top 20 rows

In [63]:
df_with_new_col = df.withColumn('ten_years_ago', df['age'] - 10)

In [65]:
df_with_new_col.show()

+----+----------+-------------+
| age|first_name|ten_years_ago|
+----+----------+-------------+
|null|      null|         null|
|  31|   Lurlene|           21|
|null|    Sabine|         null|
|  31|    Linnie|           21|
|  35| Marylynne|           25|
|  27|    Paxton|           17|
|  36|     Hally|           26|
|  27|Hieronymus|           17|
|  15|     Danya|            5|
|  40|  Doroteya|           30|
|  38|      Mile|           28|
|  32|   Stanton|           22|
|  15|    Justus|            5|
|  33|      Cati|           23|
|  29|    Bordie|           19|
|  17|     Morry|            7|
|  31|   Myrlene|           21|
|  28|      Carl|           18|
|  35|  Annabell|           25|
|  17|    Urbain|            7|
+----+----------+-------------+
only showing top 20 rows

In [67]:
df_with_new_col.createOrReplaceTempView('people')

In [87]:
result = spark.sql('SELECT * FROM people WHERE ten_years_ago > 0').show()

+---+----------+-------------+
|age|first_name|ten_years_ago|
+---+----------+-------------+
| 31|   Lurlene|           21|
| 31|    Linnie|           21|
| 35| Marylynne|           25|
| 27|    Paxton|           17|
| 36|     Hally|           26|
| 27|Hieronymus|           17|
| 15|     Danya|            5|
| 40|  Doroteya|           30|
| 38|      Mile|           28|
| 32|   Stanton|           22|
| 15|    Justus|            5|
| 33|      Cati|           23|
| 29|    Bordie|           19|
| 17|     Morry|            7|
| 31|   Myrlene|           21|
| 28|      Carl|           18|
| 35|  Annabell|           25|
| 17|    Urbain|            7|
| 26|  Domenico|           16|
| 20|  Ludovika|           10|
+---+----------+-------------+
only showing top 20 rows