In [22]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import mean, stddev

In [23]:
s = SparkSession.builder.appName('apple_stock').getOrCreate()

In [40]:
df = s.read.csv('apple_stock.csv', inferSchema=True, header=True)

In [41]:
avg_price = df.select(mean('price')).collect()[0][0]
print(avg_price)

51.055

In [42]:
df.na.fill(avg_price, subset=['price']).collect()[86]

Row(date='2014-07-21 14:57:03', open=67, close=43, high=53, low=32, price=53)

In [43]:
from pyspark.sql.functions import *

In [44]:
df.describe().show()

+-------+-------------------+------------------+------------------+------------------+------------------+-----------------+
|summary|               date|              open|             close|              high|               low|            price|
+-------+-------------------+------------------+------------------+------------------+------------------+-----------------+
|  count|               1000|              1000|              1000|              1000|              1000|             1000|
|   mean|               null|            47.933|            51.707|             50.99|            49.498|           51.055|
| stddev|               null|28.235186146663484|29.393045131495004|28.366080704505787|30.016211769125178|28.71847359672387|
|    min|2000-11-21 13:43:26|                 1|                 1|                 1|                 1|                1|
|    max|2020-10-20 08:56:21|               100|               100|               100|               100|              100|
+-------+-------------------+------------------+------------------+------------------+------------------+-----------------+

In [45]:
df.select(month(df['date'])).show()

+-----------+
|month(date)|
+-----------+
|         11|
|          8|
|          7|
|          1|
|         12|
|          2|
|          2|
|          3|
|          7|
|          2|
|          7|
|          2|
|          5|
|         10|
|          8|
|          6|
|          1|
|          4|
|         12|
|         10|
+-----------+
only showing top 20 rows

In [51]:
new_df = df.withColumn("year",year(df['date']))

In [62]:
new_df.groupby("year").mean().select(['year', 'avg(close)']).orderBy('year').withColumnRenamed('avg(close)', 'Average Close').select(['year', format_number('Average Close', 2)]).withColumnRenamed('format_number(Average Close, 2)', 'Average Close').show()

+----+-------------+
|year|Average Close|
+----+-------------+
|2000|        47.57|
|2001|        55.62|
|2002|        44.16|
|2003|        52.43|
|2004|        47.38|
|2005|        50.83|
|2006|        60.37|
|2007|        52.60|
|2008|        44.19|
|2009|        52.45|
|2010|        51.46|
|2011|        47.75|
|2012|        61.61|
|2013|        52.88|
|2014|        49.90|
|2015|        52.64|
|2016|        49.39|
|2017|        53.12|
|2018|        49.32|
|2019|        56.81|
+----+-------------+
only showing top 20 rows