In [1]:
from pyspark.sql import SparkSession

In [2]:
s = SparkSession.builder.appName('MIssing data').getOrCreate()

In [16]:
df = s.read.csv('people_with_blank.csv', inferSchema=True, header=True)

In [18]:
df.na.drop(how='all').show()

+-------------------+------+---+
|               name|gender|age|
+-------------------+------+---+
|        Waly Seyler|Female| 23|
|      Myrna O' Mara|Female| 28|
|    Alasteir Headon|  Male| 35|
|               null|  null| 29|
|    Beryle McGuiney|Female| 19|
|               null|  null| 17|
|         Goldy Mays|Female| 21|
|Marcos Jedrachowicz|  Male| 21|
|     Hettie Pennone|Female| 15|
|       Ferdy Paulou|  Male| 25|
|        Raff Leaves|  Male| 34|
|    Salaidh Giraudo|Female| 18|
|               null|  null| 31|
|        Alena Vater|Female| 24|
|   Humphrey Pleavin|  Male| 19|
|      Philis Koeppe|Female| 34|
|   Giovanni Denslow|  Male| 24|
|       Lilah Yersin|Female| 34|
|   Poppy Danielsson|Female| 27|
|     Ario Torricina|  Male| 35|
+-------------------+------+---+
only showing top 20 rows

In [21]:
df.show()

+-------------------+------+---+
|               name|gender|age|
+-------------------+------+---+
|        Waly Seyler|Female| 23|
|      Myrna O' Mara|Female| 28|
|    Alasteir Headon|  Male| 35|
|               null|  null| 29|
|    Beryle McGuiney|Female| 19|
|               null|  null| 17|
|         Goldy Mays|Female| 21|
|Marcos Jedrachowicz|  Male| 21|
|     Hettie Pennone|Female| 15|
|       Ferdy Paulou|  Male| 25|
|        Raff Leaves|  Male| 34|
|    Salaidh Giraudo|Female| 18|
|               null|  null| 31|
|        Alena Vater|Female| 24|
|   Humphrey Pleavin|  Male| 19|
|      Philis Koeppe|Female| 34|
|   Giovanni Denslow|  Male| 24|
|       Lilah Yersin|Female| 34|
|   Poppy Danielsson|Female| 27|
|     Ario Torricina|  Male| 35|
+-------------------+------+---+
only showing top 20 rows

In [23]:
from pyspark.sql.functions import mean

In [28]:
# numero maschi e numero femmine

In [52]:
m = df.filter(df['gender'] == 'Male').count()

In [53]:
f = df.filter(df['gender'] == 'Female').count()

In [57]:
total_mf = m + f

In [58]:
print({'male': m}, {'female': f}, {'total': total_mf})

{'male': 451} {'female': 486} {'total': 937}

In [60]:
print(m/f)

0.9279835390946503

In [126]:
import random
def createGender(m, f):
    choices = ['Male', 'Female']
    replacement = random.choices(choices, weights=(m/f, f/m), k=1)
    return replacement[0]

print(createGender(m, f))

Female

In [176]:
df.na.fill(createGender(m, f), subset=['gender']).show()

+-------------------+------+---+
|               name|gender|age|
+-------------------+------+---+
|        Waly Seyler|Female| 23|
|      Myrna O' Mara|Female| 28|
|    Alasteir Headon|  Male| 35|
|               null|Female| 29|
|    Beryle McGuiney|Female| 19|
|               null|Female| 17|
|         Goldy Mays|Female| 21|
|Marcos Jedrachowicz|  Male| 21|
|     Hettie Pennone|Female| 15|
|       Ferdy Paulou|  Male| 25|
|        Raff Leaves|  Male| 34|
|    Salaidh Giraudo|Female| 18|
|               null|Female| 31|
|        Alena Vater|Female| 24|
|   Humphrey Pleavin|  Male| 19|
|      Philis Koeppe|Female| 34|
|   Giovanni Denslow|  Male| 24|
|       Lilah Yersin|Female| 34|
|   Poppy Danielsson|Female| 27|
|     Ario Torricina|  Male| 35|
+-------------------+------+---+
only showing top 20 rows